# Node.js & React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.babelrc

# PHP & Composer
vendor/
composer.lock

# Docker
docker-compose.override.yml
.dockerignore
.env
.env.local
.env.development
.env.production
.env.test
.env*.local

# Editor-specifikus fájlok
.idea/
.vscode/
*.swp
*.swo

# MacOS-specifikus fájlok
.DS_Store